.sidbar {
  height: calc(100vh - 51px);
  background-color: rgb(251, 251, 255);
  border-right: 1px solid #dedede;
  position: sticky;
  top: 50px;
 
}
.toggle {
  position: absolute;
  right: -10px;
  width: 25px;
  height: 25px;
  background-color: rgb(224, 224, 227);
  border-radius: 50%;
  border: 1px solid #dedede;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  top: 5px;
}
span.rotate {
  transform: rotate(0deg);
}
.rotate:hover {
  transform: rotate(180deg);
}
span.rerotate {
  transform: rotate(180deg);
}
.rerotate:hover {
  transform: rotate(0deg);
}
.sidbarWrapper {
  padding: 20px;
  color: #555;
  transition: ease-in-out 0.5s;
}
.sidbarMenu {
  margin-bottom: 10px;
}
.sidbar-list {
  list-style-type: none;
  padding: 5px;
}
.sidbar-list-item {
  border-radius: 10px;
  text-decoration: none;

  margin: 2px 0px;
  color: #555;
}
.sidbar-list-item:hover,
.sidbar-list-item a.active {
  background-color: rgb(225, 225, 225);
}
.sidbat-footer {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0px;
  left: 0px;
  background-color: rgb(227, 227, 227);
}
button.sidbar-button {
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  gap: 9px;
  left: 0px;
  width: 100%;
  height: 100%;
  font-weight: 600;
  color: black;
  transition: ease-in-out 0.3s
;
}
button.sidbar-button:hover {
  color: #040d92;
  gap: 18px;
}

a {
  text-decoration: none;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 9px;
  border-radius: 10px;
  margin: 2px 0px;
  color: #555;
}
